@model E_wallet.Models.User
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DashBoard</title>
    <script>
    if ( window.history.replaceState ) {
        window.history.replaceState(null, null, "/user/home" );
    }
    </script>
</head>
<body>
    <h1>
        Hello @Model.Name
    </h1>
    <h3>
        Dashboard of WallE - E_Wallet
    </h3>
    <hr />
    <ul>
        <li>
            <a href="/user/wallet/show">My Wallet</a>
        </li>
        <li>
            <a href="/user/add/money/wallet">Add Money to Wallet</a>
        </li>
        <li>
            <a href="/user/send/money">Send Money</a>
        </li>
        <li>
            <a href="/user/wallet/history/passbook">Passbook</a>
        </li>
        <li>
            <a href="/user/manage/cc/saved">Manage Saved Credit/Debit cards</a>
        </li>
        <li>
            <a href="/user/link/wallet">Link Wallet</a>
        </li>
        <li>
            Change user details
        </li>
    </ul>
</body>
</html>