@model E_wallet.Models.User
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DashBoard</title>
</head>
<body>
    <h1>
        Hello @Model.Name
    </h1>
    <h3>
        Dashboard of WallE - E_Wallet
    </h3>
    <hr />
    <ul>
        <li>
            <a href="/user/wallet/show">My Wallet</a>
        </li>
        <li>
            <a href="#">Add Money to Wallet</a>
        </li>
        <li>
            <a href="#">Send Money</a>
        </li>
        <li>
            <a href="#">Passbook</a>
        </li>
        <li>
            <a href="#">Manage Saved Banks</a>
        </li>
        <li>
            <a href="#">Settings</a>
        </li>
    </ul>
</body>
</html>